/*  */
body{
    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;
    background-color: #fff;
    color: #4e4e4e;
    scroll-behavior: smooth;
    position: relative;
}
a {
    text-decoration: none;
  }


/* ----------------------NAVBAR START----------------------- */
.logo-img {
    width: 80   ;
}
.navbar {
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
    font-weight: 700;
    position: fixed;
    width: 100%;
    font-size: 13px;
    border-bottom: 1px solid #69708a;


}

.nav-item{
    position: relative;


}
.nav-link {
    color: #fff !important;
}


.nav-item::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: center center;
  transition: transform 500ms ease-out;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: center center;
  color: #fff;
}

.s-icon {
    font-size: .9rem;
    color: #fff;

}


/* ----------------------NAVBAR END----------------------- */


/* HOME PAGE START */

.c-img {
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
}

.carousel-caption {
    top: 55%;
}

.c-header {
    font-weight: 700;
    font-size: 5rem;
    line-height: .9;
}
.qoute {
  width: 65%;
  top:38%;
  color: #fff;

}
.qoute .text {
  font-size: 2rem;
  font-family: 'Sail', cursive;
}
.qoute .author {
  font-family: 'Qwigley', cursive;
  font-size: 2.5rem;
}

.text p:after {
  position: absolute;
  content: "”";
  color: rgba(255, 255, 255, 1);
  font-size: 10rem;
  line-height: 0;
  bottom: -43px;
  right: 30px;
}





/* HOME PAGE END */



/* MEDIA-QUERY */
@media screen and (max-width :855px) {
  .qoute .text {
    font-size: 1rem;

  }
  .qoute .author {

    font-size: 2rem;
  }
  .text p:after {

    font-size: 7rem;

  }
  .qoute {
    width: 70%;
    top:0%;


  }

 }
@media screen and (max-width :700px) {
  .qoute .text {
    font-size: 1rem;

  }
  .qoute {
    width: 100%;
    top:50%;


  }
  .qoute .author {

    font-size: 1.8rem;
  }
  .text p:after {

    font-size: 5rem;

  }


}
@media screen and (max-width :500px) {
  .qoute {
    width: 65%;
    top:50%;


  }
  .qoute .text {
    font-size: 1rem;


  }
  .qoute .author {

    font-size: 1rem;
  }
  .text p:after {

    font-size: 3rem;

  }


 }

